////////////////////////////////////////////////////////////////////////////

// Variables

////////////////////////////////////////////////////////////////////////////


// FONTS
//--------------------------------------------------------------------------
$f-primary: 'Lato', sans-serif;
$f-secondary: 'Merriweather', serif;

// FONT WEIGHTS
//--------------------------------------------------------------------------
$fw-normal: 400;
$fw-bold: 700;
$fw-black: 900;

// FONT SIZES
//--------------------------------------------------------------------------
$fs-12: 0.75em;
$fs-14: 0.875em;
$fs-16: 1em;
$fs-18: 1.125em;
$fs-24: 1.5em;
$fs-30: 1.875em;
$fs-36: 2.25em;
$fs-48: 3em;


// GLOBAL VALUES
//--------------------------------------------------------------------------
$gutter: 30px;
$doublegutter: $gutter * 2;

// MEDIA QUERY BREAKPOINTS
//--------------------------------------------------------------------------
$media-desktop-max: 1200px;
$media-desktop-min: 1024px;
$media-tablet-max: calc(#{$media-desktop-min} - 1px);
$media-tablet-min: 768px;
$media-mobile-max: calc(#{$media-tablet-min} - 1px);

// COLORS
//--------------------------------------------------------------------------
$c-purple: #7c487a;
$c-gold: #deb25b;
$c-ltgrey: #cccccc;
$c-mdgrey: #666666;
$c-black: #333333;
$c-white: #ffffff;

